header{
    text-align: center;
    color: black;
    background-attachment: scroll;
    background-image: url(../img/opinions.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

p {
    line-height: 33px;
}


.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  display: inline-block;

  
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display:inline-block;
  }


.detailBox {
    width:auto;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  font-size:18px;
  position: absolute;
  margin-left: 5px;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px solid #bbb;
    background-color: #fff;
}

.taskDescription {
    margin-top:10px 0;
}


.intro-text{
    padding-top: 100px;
    padding-bottom: 50px;
}

.intro-lead-in{
    font-style: italic;
    line-height: 18px;
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.intro-heading{
    margin-bottom: 25px;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px){
    
    .intro-text{
        padding-top: 300px;
        padding-bottom: 200px;
    }
    
    .intro-lead-in{
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    .intro-heading{
        margin-bottom: 50px;
        font-size: 75px;
        font-weight: 700px;
        line-height: 75px;
    }
    
}


.breadcrumb{
    background: #222;
    border-radius: 0;
}

.panel-title{
    color: rgb(242, 138, 0);
}

.panel-body >h1,h2,h3,h4,h5{
    display: inline-flex;
    margin: auto;
}

.panel{
    margin-top: 50px;
}


.cnt{
    text-align: center;
}

.inner{
    display: inline-block;
    text-align: center;
    padding: 50px;
}

